/*comentarios de css */
/*selector universal aplicar un margen y relleno base para todos los elementos  */
/*comentarios de css */
/*comentarios de css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*para que el padding y el border no afecten al tamaño del elemento */
}
/*selector de id para estilizR EL CONTENIDO PRINCIPAL  */
#card{
    width : 300px; /*ancho fijo */
    margin: 50px auto; /*centrar horizontalmente */
    background-color: rgb(139, 9, 9);/*color de fondo */
    border: 2px solid #e11a1a;/*color del borde */
    border-radius: 8px;/*radio de borde */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);/*sombra */
    padding: 20px;/*relleno */
    text-align: center;/*centrar horizontalmente */
    font-family: Arial, sans-serif;/*tipo de letra */
}
/*selector de clase para estilizR EL CONTENIDO SECUNDARIO  */
.card-content{
    margin-top: 20px;/*margen superior */
    color: white;/*color del texto */
}
.name{
    font-size: 24px;/*tamaño de letra */
    font-weight: bold;/*negrita */
    color: rgb(234, 205, 205);/*color del texto */
}
.descripcion{
    font-size: 16px;/*tamaño de letra */
    color: rgb(234, 205, 205);/*color del texto */
    margin-bottom: auto;/*margen inferior */
}   
/*selector por etiqueta para estilizR LOS ELEMENTOS INTERNOS  */
a{
    text-decoration: none;/*sin subrayado */
    margin: 0;
    padding: 0;
    color: white;/*color del texto */
}
.link{
    padding: 8px 12px;/*relleno */
    font-size: 14px;/*tamaño de letra */
    color: rgb(234, 205, 205);/*color del texto */
    margin-top: 10px;/*margen superior */
    display: inline-block;/*mostrar como bloque */
    transition: background-color 0.3s ease;
}
/* pseudo-clases para los enlaces */
.link:hover{
    background-color: rgba(234, 205, 205, 0.2);/*color de fondo al pasar el ratón */
}